<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= book.title %>">
    </div>
    <div class="form-item">
        <label>Author</label>
        <select name="author">
        <% authors.forEach(author => {%>
         <% if (author.id === book.author) { %>
            <option selected label="<%= author.firstName %> <%= author.lastName %>" value="<%= author.id %>">
         <% } else { %>
            <option label="<%= author.firstName %> <%= author.lastName %>" value="<%= author.id %>">
         <% } %>     
            </option>
        <%}) %>
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Publish Date</label>
        <input type="date" name="publishDate" 
               value="<%= book.publishDate == null ? '' : 
               book.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Page Count</label>
        <input type="number" name="pageCount"  min="1" value="<%= book.pageCount %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Book Type</label>
        <select name="bookType">
            <% bookTypes.forEach(type => {%>
                <option value="<%= type %>" <%= book.bookType.includes(type) ? 'selected' : '' %>><%= type %></option>
            <%}) %>    
        </select>
    </div>
    <div class="form-item">
        <label>Genre</label>
        <select name="bookGenre">
            <% bookGenres.forEach(genre => {%>
                <option value="<%= genre %>" <%= book.bookGenre.includes(genre) ? 'selected' : '' %>><%= genre %></option>
            <%}) %>    
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Series</label>
        <select name="seriesId">
            <% series.forEach(s => { %>
                <option label="<%= s.id %> <%= s.title %>" value="<%= s.id %>" <%= book.bookSeries && book.bookSeries.series == s.id ? 'selected' : '' %>><%= s.title %></option>
            <% }) %>
        </select>
    </div> 
    <div class="form-item">
        <label>Volume</label>
        <input type="number" name="seriesVolume" min="1" value="<%= book.bookSeries ? book.bookSeries.volume : '' %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">    
        <label>Cover</label>
        <input type="file" name="cover" class="book-cover filepond">
    </div>
    <div class="form-item">    
        <label>Description</label>
        <textarea name="description"><%= book.description %></textarea>
    </div>
</div>


