<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
    <div>
        <img class="book-cover" src="<%= book.coverImagePath %>">
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm', { url: `/books/${book.id}`}) %>
            <a class="btn btn-details book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
        </div>
    </div>
    <div class="book-details-grid">
        <div class="book-details-label">Author:</div>
        <div><%= book.author.firstName %> <%= book.author.lastName %></div>
        <div class="book-details-label">Publish Date:</div>
        <div><%= book.publishDate.toLocaleDateString() %></div>
        <div class="book-details-label">Page Count:</div>
        <div><%= book.pageCount %></div>
        <div class="book-details-label">Format:</div>
        <div><%= book.bookType %></div>
        <div class="book-details-label">Genre:</div>
        <div><%= book.bookGenre %></div>
        <% if (book.description) { %>
            <div class="book-details-label">Description:</div>
            <div><%= book.description %></div>
        <% } %>
        <% if (book.bookSeries) { %>
            <% if (book.bookSeries.title) { %>
                <div class="book-details-label">Series:</div>
                <div>
                    <a href="/series/<%= book.bookSeries.series %>">                  
                        <%= book.bookSeries.title %>                
                    </a>
                </div>
            <% } %>
            <% if (book.bookSeries.volume) { %>
                <div class="book-details-label">Volume:</div>
                <div><%= book.bookSeries.volume %></div>
            <% } %>
        <% } %>
    </div>
</div>

