<h2 class="page-header">Search Series</h2>
<form actions="/series" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
    </div> 
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>  
</form>
<br>
<div>
    <% series.forEach(series => { %>          
        <div class="author-row">
            <div class="author-name"><%= series.title %></div>
            <div class="btn-row">   
                <a class="btn btn-primary" href="/series/<%= series.id %>">View</a>
                <a class="btn btn-primary" href="/series/<%= series.id %>/edit">Edit</a>
                <%- include('../partials/deleteForm', { url: `/series/${series.id}`}) %>
            </div>
        </div>
    <% }) %>
</div>