<h2 class="page-header"><%= series.title %></h2>

<div class="book-details">
    <div class="series-details-grid">
        <div class="book-details-label">Author:</div>
        <div>
            <a href="/authors/<%= series.author.id %>">
                <%= series.author.firstName %> <%= series.author.lastName %>
            </a>
        </div>
    </div>
</div>
<br>
<%  if (booksBySeries.length > 0 ) { %>
    <h2 class="page-header">Books in Series</h2>
    <%- include ('../partials/bookGrid', { books: booksBySeries }) %>
<%  } %>

