<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
    <% books.forEach(book => { %>          
        <a href="/books/<%= book.id %>" class="book-grid-item">      
            <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">   
            <div class="book-details-title"><%= book.title %></div> 
        </a>
    <% }) %>
</div>
